/*
We highly recommend you use SASS and write your custom styles in sass/_custom.scss.
However, this blank file is available if you prefer
*/

body {
  background: #555;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
}

p {
  margin: 0.5em 0;
}

.body_content {
  background: #eee;
  padding-bottom: 1em;
}

header {
  background: #000 url("http://static.tumblr.com/0othfdm/3Ounet08h/austin-skyline.jpg") no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 5em 0;
}

header h1, header h2 {
  color: #eee;
  margin: 0;
  padding: 0;
  text-align: center;
}

header h1 {
  font-size: 2em;
  margin-bottom: 0.25em;
}

header h2 {
  font-size: 1.5em;
}

.center_logo {
  background: transparent url("http://static.tumblr.com/0othfdm/Vpvnet07y/perspectives-world-logo.png") no-repeat;
  background-position: center center;
  margin: 1em auto;
  text-align: center;
  width: 100%;
}

.center_logo a {
  display: block;
  margin: 0 auto;
  text-indent: -9999px;
}

.block_container {
  margin: 1em auto;
}

.block_container h1 {
  font-size: 1.5em;
  margin: 0.25em 0;
  text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
  .class_info {
    margin: 2em 0;
  }
  
  .class_info.first {
    margin-top: 0;
  }
  
  .class_info.last {
    margin-bottom: 0;
  }
}

.class_info_address span {
  color: #555;
}

.location_map {
  height: 400px;
}

#location_map_iframe {
  height: 100%;
  width: 100%;
}

footer {
  background: #555;
  color: #eee;
  padding: 1em 0;
}

footer p {
  font-size: 0.5em;
  text-align: center;
}